@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* hazır kodlarım */

.container {
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 48px;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

.header {
    padding: 18px 24px;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.scoreboard {
    background-color: #fff;
    padding: 16px 48px;
    border-radius: 8px;

    & p {
        color: #2A45C2;
        font-family: "Barlow Semi Condensed";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.5px;
    }

    & h3 {
        color: #1c2e4e;
        text-align: center;
        font-family: "Barlow Semi Condensed";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 100% */
    }
}

.main {
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: url(./img/path.png);
    background-position: center;
    background-repeat: no-repeat;

    & button {
        border: 24px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
    }

    & button:hover {
        border: 24px solid rgba(255, 255, 255, 0.1);
        transition: all .5s;
    }
}

.top {
    display: flex;
    gap: 80px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.rules {
    position: absolute;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;


    & h3 {
        color: #3B4262;
        font-family: "Barlow Semi Condensed";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
}

.rulesHeader {

    display: flex;
    justify-content: space-between;

    & > button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        & i {
            font-size: 30px;
            color: #3B4262;
        }
    }
}

.rulesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rulesContentTop {
    display: flex;
    gap: 18px;
    align-items: center;
}

.rulesContentBottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottomTop {
    display: flex;
    justify-content: space-evenly;
}

.bottomBottom {
    display: flex;
    justify-content: center;
}

#ruleBtn {
    position: absolute;
    bottom: 32px;
    right: 32px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 12px 38px;
    color: #fff;
    font-family: "Barlow Semi Condensed";
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

#ruleBtn:hover {
    background-color: #fff;
    border: 1px solid transparent;
    color: #151c3d;
    transition: all .5s;
}

.game {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    width: 1000px;

}

.yourPicked {
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    & h4 {
        color: #FFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 3px;
    }

    & img {
        width: 290px;
    }
}

.otherPicked {
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    & h4 {
        color: #FFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 3px;
    }
}

.noPick {
    width: 224px;
    height: 224px;
    background-color: #172340;
    border-radius: 50%;
    margin-top: 37px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

    & h2 {
        color: #FFF;
        text-align: center;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & button {
        background-color: #fff;
        border-radius: 8px;
        border: none;
        padding: 15px 60px;
        color: #3B4262;
        font-family: "Barlow Semi Condensed";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.5px;
        cursor: pointer;
    }

    & button:hover {
        color: #db304e;
        transition: all .5s;
    }
    
    
}



















@media (width < 1100px) {

    .container {
        padding: 32px;
    }

    .header {
        width: 100%;
        padding: 12px 12px 12px 24px;
        margin-bottom: 105px;

        & img {
            width: 83px;
            height: 48px;
        }
    }

    .scoreboard {
        padding: 10px 23px ;
        & p {
            font-size: 10px;
        }

        & h3 {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .main {
        width: 100%;
    }

    .home {
        & button {
            border: none;

            & img {
                width: 130px;
                height: 133px;
            }
        }

        & button:hover {
            border: none;
        }
    }

    .top {
        margin-top: -20px;
    }

    #ruleBtn {
        bottom: 80px;
        right: auto;
    }

}

@media (width < 500px) {
    .rules {
        width: 100%;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 110px;
    }

    .rulesHeader {
        justify-content: space-evenly;
    }
}